<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3">
    <h4 class="text-center separador-20">Editar Mis Datos</h4>
    <div class="alert alert-success col-lg-6 offset-lg-3" role="alert" *ngIf="status == 'ok' && message">
      {{message}}
    </div>
    <div class="alert alert-danger col-lg-6 offset-lg-3" role="alert" *ngIf="status == 'error' && message">
      {{message}}
    </div>
    <form action="" #registerForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 editar-datos-form">
      <p>
        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required pattern="[a-zA-Z][a-zA-Z ]+">
        <span [hidden]="name.valid || name.pristine" class="text-danger">
          <span [hidden]="!name.hasError('required')">Nombre es requerido</span>
          <span [hidden]="!name.hasError('pattern')">El nombre pude tener letras solamente</span>
        </span>
      </p>
      <p>
        <label for="surname">Apellido</label>
        <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" [required]="!user.providers.facebook.uid">
        <span [hidden]="surname.valid || surname.pristine" class="text-danger">
          <span [hidden]="!surname.hasError('required')">Apellido es requerido</span>
          <span [hidden]="!surname.hasError('pattern')">El apellido pude tener letras solamente</span>
        </span>
      </p>
      <p>
        <label for="email">Email</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          required>
        <span [hidden]="email.valid || email.pristine" class="text-danger">
          <span [hidden]="!email.hasError('required')">Email es requerido</span>
          <span [hidden]="!email.hasError('pattern')">El formato del email debe ser
            <small>
              <b>joe@abc.com</b>
            </small>
          </span>
        </span>
      </p>
      <p>
        <label for="celular">Celular</label>
        <input type="number" name="celular" #celular="ngModel" [(ngModel)]="user.clientData.celular" class="form-control" pattern="[0-9]{8,}">
        <span *ngIf="user.clientData.celular == '' || user.clientData.celular == null " style="font-size: 12px; color: Red">*Recomendamos ingresar un numero de celular</span>
        <span [hidden]="!celular.hasError('pattern')" style="font-size: 12px; color: Red">El celular debe tener por lo menos 9 digitos. Ej:099123123</span>
      </p>
      <div>
        <label for="">Imagen</label>
        <div class="text-center">
          <img src="{{url + 'get-image-user/' + identity.image}}" alt="" class="rounded-circle" style="width: 180px; height: 180px"
            *ngIf="identity.image != 'Null' ">
          <img src="{{identity.photoUrl}}" alt="" class="rounded-circle" style="width: 180px; height: 180px" *ngIf="identity.photoUrl != 'Null' ">
        </div>
        <input class="separador-10" type="file" name="" id="" placeholder="Subir imagen.." (change)="fileChangeEvent($event)">
        <p>
          <span style="font-size: 12px; color: Red">*Para cambiar la imagen selecciona una aqui, de lo contrario no se modificara.</span>
        </p>
      </div>
      <div class="text-center">
        <input type="submit" value="Actualizar Mis Datos" class="btn btn-primary" [disabled]=" !registerForm.form.valid " />
      </div>
    </form>
  </div>

</div>