<div class="table-responsive-sm">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Rol</th>
          <th>Verificado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.name}}</td>
          <td>{{user.surname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.celular}}</td>
          <td *ngIf="user.role === 'admin'" >Admin</td>
          <td *ngIf="user.role === 'client'" >Cliente</td>
          <td *ngIf="user.role === 'owner'" >Dueño</td>
          <td *ngIf="user.isVerified === true " >Si</td>
          <td *ngIf="user.isVerified === false " >No</td>
        </tr>
      </tbody>
    </table>
  </div>

