<div class="body-login">
  <div class="container">
    <div class="row">
      <div class="main-login col-sm-12">
        <div class="logo-login text-center"></div>
        <div class="titulo-login text-center">
          <span>INICIAR SESION</span>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf=" status == 'error' ">
          {{message}}
        </div>
        <div class="separador-10"></div>
        <div class="alert alert-success" role="alert" *ngIf="identity">
          <span>Usted ya esta logueado</span>
        </div>
        <div class="separador-10"></div>
        <div *ngIf="!identity">
          <form action="" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group-login">
              <label for="email" class="">Email</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Ingresa tu email" aria-describedby="basic-addon1" name="email" #email="ngModel"
                  [(ngModel)]="user.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              </div>
              <span [hidden]="email.valid || email.pristine" class="text-danger">
                <span [hidden]="!email.hasError('required')">Email es requerido</span>
                <span [hidden]="!email.hasError('pattern')">El formato del email debe ser
                  <small>
                    <b>joe@abc.com</b>
                  </small>
                </span>
              </span>
            </div>
            <div class="separador-10"></div>
            <div class="form-group-login">
              <label for="password" class="">Contraseña</label>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Ingresa tu contraseña" aria-describedby="basic-addon1" name="password"
                  #password="ngModel" [(ngModel)]="user.password" required>
              </div>
              <span [hidden]="password.valid || password.pristine" class="text-danger">
                <span [hidden]="!email.hasError('required')">Contraseña es requerido</span>
              </span>
            </div>
            <div class="separador-10"></div>
            <input type="submit" class="btn btn-primary btn-md btn-block btn-entrar" value="Entrar" [disabled]="!loginForm.form.valid"/>
          </form>
          <div class="separador-20"></div>
          <hr>
          <div class="social-login">
            <a class="btn btn-block btn-social btn-facebook btn-md" (click)="signInWithFB();">
              <span class="fa fa-facebook"></span>Entrar con Facebook
            </a>
          </div>
          <div class="separador-10"></div>
          <a href="" [routerLink]="['/register']">Registrate ahora!</a>
          <a href="" style="float:right">Recuperar contraseña</a>
        </div>
      </div>
    </div>
  </div>
</div>
